{
  "extends": "../.eslintrc",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}